@import url("./_font.css");
@import url("./_global.css");

* {
  font-family: poppins, sans-serif !important;
  /* font-weight: 700; */
  font-style: normal;
  color: white !important;
}

fieldset {
  border-color: white !important;
}
